<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/db_geke_tcc</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password"></property>
        <mapping class="br.edu.unipampa.geketcc.model.Defesa"/>
        <mapping class="br.edu.unipampa.geketcc.model.Matricula"/>
        <mapping class="br.edu.unipampa.geketcc.model.Matriculaarquivo"/>
        <mapping class="br.edu.unipampa.geketcc.model.MembroBanca"/>
        <mapping class="br.edu.unipampa.geketcc.model.Nota"/>
        <mapping class="br.edu.unipampa.geketcc.model.Pessoa"/>
        <mapping class="br.edu.unipampa.geketcc.model.Usuario"/>
    </session-factory>
</hibernate-configuration>
